.content-wrapper {
  margin: 15px;
  padding: 20px;
  border-radius: 3px;
  background-color: lighten(#d8c2bc, 12%);
  // height: 70vh;
  form {
    display: flex;
    flex-direction: column;
    .search-input {
      width: 50%;
      margin-left: auto;
      margin-right: auto;
      border: 1px solid #292929;
      text-align: center;
      padding: 5px 10px;
      border-radius: 3px;
    }
    button {
      background: none;
      border: none;
      &:focus {
        outline: none;
      }
    }
  }
  .result {
    li {
      list-style-type: none;
    }
  }
}
